
.image-section {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 5px;

    & img {
        max-width: 20%; /* Reduce size */
        border: 1px solid #ccc;
        height: auto; /* Ensure responsiveness */
        object-fit: contain; /* Prevent distortion */
    }
}

.content {
    text-align: center;

    & h1 {
        font-size: 32px;
        margin-bottom: 20px;
        text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.8);
    }
}

.menu-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;

    & div {
        text-align: center;
    }

    & img {
        max-width: 100%; /* Ensures full responsiveness */
        width: 150px; /* Default width */
        height: auto; /* Maintain aspect ratio */
        object-fit: cover; /* Ensures the aspect ratio is maintained */
        border-radius: 10px;
    }

    & span {
        display: block;
    }
}
