.image-section {
    display: flex;
    justify-content: center;
    /*margin-bottom: 5px;*/

    & img {
        max-width: 20%; /* Reduce size */
        height: auto; /* Ensure responsiveness */
        object-fit: contain; /* Prevent distortion */
    }
}

.menu-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 30px;

    & div {
        text-align: center;
    }

    & img {
        max-width: 100%; /* Ensures full responsiveness */
        width: 150px; /* Default width */
        height: auto; /* Maintain aspect ratio */
        object-fit: cover; /* Ensures the aspect ratio is maintained */
        border-radius: 10px;
    }

    & span {
        display: block;
        position: relative;
        top: -65px;
        color: white;
        background: rgba(0, 0, 0, 0.5);
        padding: 5px 10px;
        border-radius: 5px;
        backdrop-filter: blur(5px);
    }
}
