:root {
    --primary-color: rgb(156, 196, 228, 1);
    --secondary-color: color-mix(in srgb, var(--primary-color) 40%, white 40%);
    --primary-text-color: color-mix(in srgb, var(--primary-color) 0%, black 100%);
    --font-large: 2rem;
    --font-medium: 1.25rem;
    --font-small: 1rem;
    --theme-border: 2px solid black;
}

.bg-primary {
    background-color: var(--primary-color);
}

.bg-secondary {
    background-color: var(--secondary-color);
}

.main-theme {
    font-weight: bold;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px;
    color: var(--primary-text-color);
    border-bottom: var(--theme-border);

    & nav {
        align-self: center;
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        font-size: var(--font-medium);
        text-wrap: nowrap;
        /*flex-wrap: wrap;*/
    }
}

.company-title {
    font-size: var(--font-large);
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);

    & a {
        text-decoration: none;
        color: var(--primary-text-color)
    }
}

.customer-quote {
    font-style: italic;
}

footer {
    display: flex;
    flex-wrap: wrap; /* Allows columns to stack on smaller screens */
    justify-content: space-around;
    margin-top: auto; /* Ensures footer is always at the bottom */
    color: var(--primary-text-color);
    border-top: var(--theme-border);
    padding: 10px;

    & div {
        line-height: 1.35rem;
        font-size: var(--font-small);
    }
}

@media (max-width: 768px) {
    header {
        text-align: center;
        flex-direction: column;

        & nav {
            margin-top: 10px;
        }
    }

    footer {
        flex-direction: column;
        row-gap: 10px;

        & div {
            text-align: center;
        }
    }
}

@media (max-width: 480px) {
    /* Adjust font sizes for smaller devices */
    /*.header .company-title {*/
    /*    font-size: 20px;*/
    /*}*/
    /*.header nav a {*/
    /*    font-size: 14px;*/
    /*}*/
    /*footer div p {*/
    /*    font-size: 12px; !* Reduce footer text size *!*/
    /*}*/
}
